body {
    /* dit is commentaar */
    /* het lettertype instellen */
    font-family: sans-serif;
    background-color: gold;
}

h1 {
    font-size: 4rem;
}

.inspringen {
    
    margin-inline: 40px;
}

.image {
    background-color: white;
}